*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h3{
    margin-bottom: 1rem;
    font-weight: normal;
}

img{
    border-radius: 50%;
    border: 5px brown solid;
    margin-bottom: 1rem;
}
.male{
    border-color: blue;
    background-color: blue;

}
.female{
    border-color: brown;
    background-color: brown;
    color: antiquewhite;
}
button{
    cursor: pointer;
    display: inline-block;
    background-color: brown;
    color: antiquewhite;
    font-size: 18px;
    border: 0;
    padding: 1rem 1.5rem;
}